*~
__pycache__/
*.egg-info/
*.memo
.coverage
/htmlcov/
/dist/
/build/
/docs/_build/
.DS_Store
/_phix/
*.org_rst
/pip/
/_minted-*/
*.py,cover
/.cov2emacs.log
*.log
coverage*.xml
pytest.xml
/reports/
.env
venv
.python-version
