# -*- mode: yaml; coding: utf-8 -*-

include:
  - project: qs/cs.template
    ref: v2026.2.3.0
    file:
      - ci/common.yml
      - ci/pre-commit.yml
  - component: $CI_SERVER_FQDN/qs/ci-templates/twine_upload@0.1.0
    inputs:
      name: pypi_upload
      twine_username: __token__
      twine_password: $TWINE_API_KEY
      wheel_path: dist/csspin-*.whl
      needs:
        - wheel
        - job: test_spin_ce_integration
          artifacts: false
        - job: test_spin_frontend_integration
          artifacts: false
        - job: test_spin_java_integration
          artifacts: false
        - job: test_spin_python_integration
          artifacts: false
        - job: test_spin_docs_integration
          artifacts: false
        - job: test_csspin_workflows_integration
          artifacts: false
      rules:
        - if: $CI_COMMIT_TAG
          when: on_success
        - when: never

variables:
  SPIN_VERBOSE: 1

# --------------------------------- Build stage --------------------------------
wheel:
  stage: build
  image: python:3.14
  variables:
    # The version generation via setuptools_scm needs
    # (potentially) the whole SCM history to work correctly
    GIT_DEPTH: 0
    GIT_STRATEGY: clone
    SPIN_TREE_PYTHON__USE: python
  before_script:
    - python -m pip install --upgrade build
  script:
    - python -m build --wheel .
  artifacts:
    when: always
    expire_in: 72 hrs
    paths:
      - dist/*.whl
  interruptible: true

documentation:
  stage: build
  image: registry.contact.de/cetest:2026.2-3.latest
  variables:
    SPIN_TREE_PYTHON__USE: python
  script:
    - python -m pip install .
    - spin provision
    - spin docs html
  artifacts:
    when: always
    expire_in: 72 hrs
    paths:
      - doc/_build/html
  interruptible: true

# --------------------------------- Test stage ---------------------------------
pre-commit:
  extends: .run_precommit
  needs: []

.test_base:
  needs: []
  variables:
    SPIN_TREE_PYTHON__USE: python
  script:
    - python -m pip install .
    - spin provision
    - spin test -vv --coverage --with-test-report
  after_script:
    - mkdir reports-${CI_JOB_ID}
    - mv pytest.xml reports-${CI_JOB_ID}/
    - mv python-pytest-coverage.xml python-pytest-${CI_JOB_ID}-coverage.xml
  artifacts:
    when: always
    expire_in: 24 hrs
    paths:
      - ./*coverage*.xml
      - reports*/
    reports:
      junit: reports*/*.xml
      coverage_report:
        coverage_format: cobertura
        path: ./*coverage*.xml
  interruptible: true

.install_git:
  before_script:
    - apt-get update -y && apt-get install git -y

python3.10:
  extends: [.test_base, .install_git]
  image: python:3.10-slim

python3.11:
  extends: [.test_base, .install_git]
  image: python:3.11-slim

python3.12:
  extends: [.test_base, .install_git]
  image: python:3.12-slim

python3.13:
  extends: [.test_base, .install_git]
  image: python:3.13-slim

python3.14:
  extends: [.test_base, .install_git]
  image: python:3.14-slim

windows:
  extends: .test_base
  tags: [Powershell, Python3]
  variables:
    SPIN_TREE_PYTHON__USE: ""
  before_script:
    - "& python.exe -m venv venv"
    - venv\Scripts\activate.ps1
  after_script:
    - Rename-Item python-pytest-coverage.xml python-pytest-$env:CI_JOB_ID-coverage.xml
    - New-Item -ItemType "Directory" reports-$env:CI_JOB_ID
    - Move-Item pytest.xml reports-$env:CI_JOB_ID

# -------------------------- Integration Tests ---------------------------------
.external_integration_base:
  stage: test
  variables:
    PARENT_PIPELINE_ID: $CI_PIPELINE_ID
    TRIGGER_BRANCH: master
  trigger:
    project: $TRIGGER_PROJECT
    branch: $TRIGGER_BRANCH
    strategy: depend
    forward:
      pipeline_variables: true
  needs: [wheel]
  rules:
    - if: "$CI_OPEN_MERGE_REQUESTS"
      when: manual
    - if: "$CI_COMMIT_REF_PROTECTED"
    - when: never

test_spin_ce_integration:
  variables:
    TRIGGER_PROJECT: qs/spin/spin_ce
  extends: .external_integration_base

test_spin_frontend_integration:
  variables:
    TRIGGER_PROJECT: qs/spin/spin_frontend
  extends: .external_integration_base

test_spin_java_integration:
  variables:
    TRIGGER_PROJECT: qs/spin/spin_java
  extends: .external_integration_base

test_spin_python_integration:
  variables:
    TRIGGER_PROJECT: qs/spin/spin_python
  extends: .external_integration_base

test_spin_docs_integration:
  variables:
    TRIGGER_PROJECT: qs/spin/spin_docs
  extends: .external_integration_base

test_csspin_workflows_integration:
  variables:
    TRIGGER_PROJECT: qs/spin/csspin-workflows
  extends: .external_integration_base

# ------------------------------- Release stage --------------------------------

pages:
  needs:
    - job: documentation
      artifacts: true
    - job: wheel
      artifacts: false
    - job: python3.10
      artifacts: false
    - job: python3.11
      artifacts: false
    - job: python3.12
      artifacts: false
    - job: python3.13
      artifacts: false
    - job: python3.14
      artifacts: false
    - job: windows
      artifacts: false
  image: alpine
  stage: release
  script:
    - mv doc/_build/html public
  artifacts:
    paths:
      - public
  interruptible: false
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v(\d+\.)?\d+\.\d+\.\w+$/'

pypi_upload:
  before_script:
    # FIXME: Remove the following line once con_release uses a twine that
    #        supports project.license-files.
    - python3 -m pip install --upgrade twine packaging
